@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0f1011;
    --foreground: 0 0% 98%;

    --card: 0 0% 3%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 98%;

    --primary: #6effb6;
    --primary-foreground: #0f1011;

    --secondary: #2d2e33;
    --secondary-foreground: #aeafb5;

    --muted: 0 0% 9%;
    --muted-foreground: 0 0% 49%;

    --accent: #202124;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: #393a40;
    --input: 0 0% 16%;
    --ring: 150 100% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .grid-cols-auto-fill-minmax {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
