/* archive page - generate layout */
.grid-areas-generate-layout {
  display: grid;
  grid-template-areas:
    'a b'
    'c d'
    'c e';
  grid-template-columns: minmax(477px, auto) minmax(auto, 428px);
  grid-template-rows: auto 1fr;
}

.grid-area-generate-editing {
  grid-area: a;
}

.grid-area-generate-variations {
  grid-area: b;
}

.grid-area-generate-skin {
  grid-area: c;
}

.grid-area-generate-faceangle {
  grid-area: d;
}
.grid-area-generate-aspectratio {
  grid-area: e;
}

/* variations section */
.grid-area-variations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(219px, auto));
}
